.container {
	display: flex;

	&.full {
		width: 100%;
	}
}

.option {
	flex: 0 0 auto;
	.full & {
		flex: 1 1 0px;
	}
}

.option:not(:first-child) > button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: none;
}

.option:not(:last-child) > button {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
