.container {
	position: relative;
}

.select {
	cursor: pointer;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// outline set position and z-index so we need to override them with higher
// selector priority
.select:not(.win-outline) {
	position: absolute;
	z-index: 1;
}

.button {
	position: relative;
	z-index: 2; // Higher than select
	pointer-events: none;
	// For Button's children
	display: flex;
	align-items: center;
	justify-content: center;
}
