@import "../theme/module.scss";

.container {
	cursor: pointer;
	display: flex;
	align-items: flex-start;
	line-height: 20px;
	position: relative;
	width: max-content;
}

.input {
	flex: 0 0 auto;
	width: 20px;
	height: 20px;
	border-radius: 20px;
}

.dot {
	position: absolute;
	z-index: 2; // wins the z-index of outline
	top: 6px;
	left: 6px;

	width: 8px;
	height: 8px;
	border-radius: 10px;
	pointer-events: none;

	@include light {
		background-color: var(--gray-9);
	}

	@include dark {
		background-color: var(--gray-1);
	}
}

.label {
	flex: 1 1 0px;
	margin-left: 8px;
}
