.container {
	position: sticky;
	top: 0;
	z-index: 5;

	display: flex;
	flex-wrap: wrap;
	padding: 8px 0;
	margin: 0 -8px;

	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.container > div {
	padding: 8px;
}
