.container {
	display: flex;
	padding: 16px 0;
	backdrop-filter: saturate(200%) blur(20px);

	position: sticky;
	top: 0;
	z-index: 5;

	border-bottom-style: solid;
	border-bottom-width: 1px;
}

:global(.light) .container {
	background-color: hsla(0, 0%, 100%, 0.8);
}

:global(.dark) .container {
	background-color: hsla(220, 13%, 18% 0.6);
}
