.table {
	width: 100%;
	overflow: auto;
}

.name {
	width: 160px;
	text-align: left;
}

.samples {
    width: 1300px;
	text-align: left;
}

.samplesContainer {
	display: flex;
}

.sample {
	padding: 8px;
}

.description {
	line-height: 32px;
}
