.block {
	display: block;
}

.inline {
	display: inline;
	/* Avoid pushing current layout */
	vertical-align: top;
	/* Fix alignment for default line height (20px) and size (16) */
	position: relative;
	top: 2px;
}

.icon path {
	fill: currentColor;
	fill-rule: evenodd;
	clip-rule: evenodd;
}
