@import "../theme/module.scss";

.button {
	text-align: center;
	display: flex;
}

.medium {
	padding: 8px 12px;
}

.small {
	padding: 4px 8px;
}

.outset {
	border-radius: 3px;
}

.text {
	flex: 1 1 0px;
	display: flex;
}

.icon {
	flex: 0 0 auto;
}
