@import "../theme/module.scss";

.button {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.fullWidth {
	width: 100%;
}

.medium {
	height: 32px;
	padding: 0 12px;
}

.small {
	height: 24px;
	padding: 0 8px;
}

.outset {
	border-radius: 3px;
}

.text {
	flex: 0 0 auto;
	display: flex;
}

.icon {
	flex: 0 0 auto;
}

.disabled {
	pointer-events: none;
	cursor: auto;
}
