.button {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	position: relative;

	/* Enforce width in case of link */
	width: fit-content;
}

.button:disabled {
	pointer-events: none;
	cursor: auto;
}

.reverse {
	flex-direction: row-reverse;
}

.fill {
	width: 100%;
}

.text {
	flex: 0 0 auto;
	display: flex;
}

.icon {
	flex: 0 0 auto;
}

.busy {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.busy ~ .icon,
.busy ~ .text {
	opacity: 0;
}

/* SIZE */

.minWidth {
	min-width: 80px;
}

.large {
	height: 40px;
	padding: 0 16px;
	font-size: 16px;
}

.largeIcon {
	height: 40px;
	width: 40px;
}

.medium {
	height: 32px;
	padding: 0 12px;
}

.mediumIcon {
	height: 32px;
	width: 32px;
}

.small {
	height: 24px;
	padding: 0 8px;
}

.smallIcon {
	height: 24px;
	width: 24px;
}
