.main {
	transition: background-color 0.1s, outline 0.2s ease-out;
	border-radius: 0;
	/* To have same layout with outset buttons */
	border: solid 1px transparent;
	background: none;
}

/* HIGHLIGHT */

:global(.light) .highlight {
	color: var(--highlight-6);
}

:global(.dark) .highlight {
	color: var(--highlight-5);
}

/* DANGER */

:global(.light) .danger {
	color: var(--failure-6);
}

:global(.dark) .danger {
	color: var(--failure-5);
}

/* INTERACTION */

:global(.light) .main:hover {
	background-color: var(--gray-1);
}
:global(.light) .main:active {
	background-color: var(--gray-2);
}
:global(.dark) .main:hover {
	background-color: var(--gray-6);
}
:global(.dark) .main:active {
	background-color: var(--gray-9);
}

/* SELECTED */

:global(.light) .selected:not(.x) {
	background-color: var(--gray-1);
}
:global(.dark) .selected:not(.x) {
	background-color: var(--gray-9);
}

/* DISABLED */

:global(.light) .main:disabled:not(.x) {
	color: var(--gray-3);
}
:global(.dark) .main:disabled:not(.x) {
	color: var(--gray-4);
}
