.main {
	transition: background-color 0.1s, outline 0.2s ease-out;
	text-decoration: inherit;
	/* Reset */
	border: none;
	background-color: none;
	border-radius: none;
	/* To have same width with outset buttons */
	border-left: solid 1px transparent;
	border-right: solid 1px transparent;
}
:global(.light) .main:hover {
	background-color: var(--neutral-2);
}
:global(.light) .main:active {
	background-color: var(--neutral-3);
}
:global(.dark) .main:hover {
	background-color: var(--neutral-2);
}
:global(.dark) .main:active {
	background-color: var(--gray-9);
}

:global(.light) .selected,
:global(.light) .selected:hover,
:global(.light) .selected:active {
	background-color: var(--neutral-2);
}
:global(.dark) .selected,
:global(.dark) .selected:hover,
:global(.dark) .selected:active {
	background-color: var(--neutral-1);
}

:global(.light) .main:disabled,
:global(.light) .main:disabled:hover,
:global(.light) .main:disabled:active {
	color: var(--neutral-4);
}
:global(.dark) .main:disabled,
:global(.dark) .main:disabled:hover,
:global(.dark) .main:disabled:active {
	color: var(--neutral-4);
}
