.main {
	transition: background-color 0.1s, outline 0.2s ease-out;
	text-decoration: inherit;
	/* Reset */
	border: none;
	background-color: none;
	border-radius: none;
}
:global(.light) .main:hover {
	background-color: var(--gray-2);
}
:global(.light) .main:active {
	background-color: var(--gray-3);
}
:global(.dark) .main:hover {
	background-color: var(--gray-7);
}
:global(.dark) .main:active {
	background-color: var(--gray-9);
}

:global(.light) .selected,
:global(.light) .selected:hover,
:global(.light) .selected:active {
	background-color: var(--gray-2);
}
:global(.dark) .selected,
:global(.dark) .selected:hover,
:global(.dark) .selected:active {
	background-color: var(--gray-8);
}

:global(.light) .main:disabled,
:global(.light) .main:disabled:hover,
:global(.light) .main:disabled:active {
	color: var(--gray-5);
}
:global(.dark) .main:disabled,
:global(.dark) .main:disabled:hover,
:global(.dark) .main:disabled:active {
	color: var(--gray-4);
}
