@import "../theme/module.scss";

.main {
	transition: background-color 0.1s, outline 0.2s ease-out;
	text-decoration: inherit;

	@include light {
		&:hover {
			background-color: var(--light-gray-2);
		}
		&:active {
			background-color: var(--light-gray-3);
		}
	}
	@include dark {
		&:hover {
			background-color: var(--dark-gray-2);
		}
		&:active {
			background-color: var(--dark-gray-0);
		}
	}
}

.selected,
.selected:hover,
.selected:active {
	@include light {
		background-color: var(--light-gray-2);
	}
	@include dark {
		background-color: var(--dark-gray-1);
	}
}
