@import "../theme/module.scss";

@mixin main-mixin {
	transition: background-color 0.1s, box-shadow 0.1s, outline 0.2s ease-out;
	border: solid 1px transparent;
	font-weight: 450;

	--main-shadow: 0px 0.5px 2px;
	--inset-shadow: inset 0px 1px 0px;

	@include light {
		background-color: var(--gray-1);
		box-shadow: var(--main-shadow) var(--gray-2),
			var(--inset-shadow) var(--gray-0);
		border-color: var(--gray-3);

		&:hover {
			background-color: var(--gray-0);
		}
		&:active {
			background-color: var(--gray-2);
			box-shadow: none;
		}
	}

	@include dark {
		--main-shadow-full: var(--main-shadow) var(--gray-9);

		background-color: var(--gray-7);
		box-shadow: var(--main-shadow-full),
			var(--inset-shadow) var(--gray-6);
		border-color: var(--gray-10);

		&:hover {
			background-color: var(--gray-6);
		}
		&:active {
			background-color: var(--gray-9);
			box-shadow: none;
		}
	}

	// inside button group
	:global(.group-tail) & {
		border-left: none;
	}
}

.main {
	@include main-mixin();
}

.highlight {
	font-weight: 500;

	@include light {
		color: var(--gray-0);
		background-color: var(--blue-2);
		box-shadow: var(--main-shadow) var(--gray-3),
			var(--inset-shadow) var(--blue-3);
		border-color: var(--blue-0);
		&:hover {
			background-color: var(--blue-3);
		}
		&:active {
			background-color: var(--blue-1);
		}
	}

	@include dark {
		color: var(--gray-1);
		background-color: var(--blue-2);
		box-shadow: var(--main-shadow-full), var(--inset-shadow) var(--blue-3);
		&:hover {
			background-color: var(--blue-3);
		}
		&:active {
			background-color: var(--blue-1);
			box-shadow: none;
		}
	}
}

.selected,
.selected:hover,
.selected:active {
	@include light {
		background-color: var(--gray-2);
		box-shadow: 0px 0px 0px transparent;
	}
	@include dark {
		background-color: var(--gray-9);
		box-shadow: 0px 0px 0px transparent;
	}
}

.disabled,
.disabled:hover,
.disabled:active {
	@include light {
		color: var(--gray-5);
		box-shadow: none;
	}
	@include dark {
		color: var(--gray-4);
		box-shadow: none;
	}
}
