.main {
	transition: background-color 0.1s, box-shadow 0.1s, outline 0.2s ease-out;
	border: solid 1px transparent;
	--shadow-size: 0px 0.5px 2px;
	--inset-shadow: inset 0px 1px 0px;
}

a.main {
	color: inherit;
}

:global(.group-tail) .main {
	border-left: none;
}

/* BASE COLOR */

:global(.light) .main {
	--shadow: var(--shadow-size) rgba(0, 0, 0, 0.1);
	background-color: var(--gray-0);
	box-shadow: var(--shadow), var(--inset-shadow) var(--white);
	border-color: var(--gray-2);
}
:global(.light) .main:hover {
	background-color: var(--white);
}
:global(.light) .main:active {
	background-color: var(--gray-1);
	box-shadow: none;
}

:global(.dark) .main {
	--shadow: var(--shadow-size) rgba(0, 0, 0, 0.5);
	background-color: var(--gray-6);
	box-shadow: var(--shadow), var(--inset-shadow) var(--gray-5);
	border-color: var(--black);
}
:global(.dark) .main:hover {
	background-color: var(--gray-5);
}
:global(.dark) .main:active {
	background-color: var(--gray-7);
	box-shadow: none;
}

/* HIGHLIGHT */

:global(.light) .highlight,
:global(.dark) .highlight {
	color: var(--white);
	background-color: var(--highlight-5);
	box-shadow: var(--shadow), var(--inset-shadow) var(--highlight-4);
	font-weight: 500;
}

:global(.light) .highlight {
	--shadow: var(--shadow-size) rgba(0, 0, 0, 0.2);
	border-color: var(--highlight-7);
}

:global(.dark) .highlight {
	border-color: var(--black);
}

:global(.light) .highlight:hover,
:global(.dark) .highlight:hover {
	background-color: var(--highlight-4);
}
:global(.light) .highlight:active,
:global(.dark) .highlight:active {
	background-color: var(--highlight-6);
	box-shadow: none;
}

/* DANGER */
:global(.light) .danger,
:global(.dark) .danger {
	color: var(--white);
	background-color: var(--failure-5);
	box-shadow: var(--shadow), var(--inset-shadow) var(--failure-4);
	font-weight: 500;
}

:global(.light) .danger {
	--shadow: var(--shadow-size) rgba(0, 0, 0, 0.2);
	border-color: var(--failure-7);
}

:global(.dark) .danger {
	border-color: var(--black);
}

:global(.light) .danger:hover,
:global(.dark) .danger:hover {
	background-color: var(--failure-4);
}
:global(.light) .danger:active,
:global(.dark) .danger:active {
	background-color: var(--failure-6);
	box-shadow: none;
}

/* SELECTED */

:global(.light) .selected:not(.x) {
	background-color: var(--gray-1);
	box-shadow: none;
}

:global(.dark) .selected:not(.x) {
	background-color: var(--gray-9);
	box-shadow: none;
}

:global(.light) .highlight.selected:not(.x),
:global(.dark) .highlight.selected:not(.x) {
	background-color: var(--highlight-6);
	box-shadow: none;
}

/* DISABLED */

:global(.light) .main:not(.busy):disabled {
	color: var(--gray-3);
	box-shadow: none;
	background-color: var(--gray-0);
	border-color: var(--gray-1);
}
:global(.dark) .main:not(.busy):disabled {
	color: var(--gray-4);
	box-shadow: none;
	background-color: var(--gray-6);
	border-color: var(--black);
}
