/* 
.input {
    background: none;
    display: block;
    width: 100%;
	transition: outline 0.2s ease-out;
}

@mixin track {
    :global(.light)  {
        background-color: var(--neutral-3);
    }
    :global(.dark)  {
        background-color: var(--gray-10);
    }
	height: 2px;
}

.input::-webkit-slider-runnable-track {
	@include track;
}
.input::-moz-range-track {
	@include track;
}
.input::-ms-track {
	@include track;
}

@mixin thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    @include main-mixin;
    cursor: grab;
    margin-top: -8px;
}

.input::-webkit-slider-thumb {
	@include thumb;
}
.input::-moz-range-thumb {
	@include thumb;
}
.input::-ms-thumb {
	@include thumb;
} */
