.p {
	line-height: 1.5;
}

.strong {
	font-weight: 600;
}

.break {
	word-break: break-all;
}

.big {
	font-size: 18px;
}

:global(.light) {
	--text-failure-weak: var(--failure-5);
}
:global(.dark) {
	--text-failure-weak: var(--failure-5);
}
.failureWeak {
	color: var(--text-failure-weak);
}

:global(.light) {
	--text-failure-strong: var(--failure-6);
}
:global(.dark) {
	--text-failure-strong: var(--failure-4);
}
.failureStrong {
	color: var(--text-failure-strong);
}

:global(.light) {
	--text-success-weak: var(--success-6);
}
:global(.dark) {
	--text-success-weak: var(--success-5);
}
.successWeak {
	color: var(--text-success-weak);
}

:global(.light) {
	--text-success-strong: var(--success-7);
}
:global(.dark) {
	--text-success-strong: var(--success-5);
}
.successStrong {
	color: var(--text-success-strong);
}

:global(.light) {
	--text-highlight-weak: var(--highlight-6);
}
:global(.dark) {
	--text-highlight-weak: var(--highlight-5);
}
.highlightWeak {
	color: var(--text-highlight-weak);
}

:global(.light) {
	--text-highlight-strong: var(--highlight-7);
}
:global(.dark) {
	--text-highlight-strong: var(--highlight-5);
}
.highlightStrong {
	color: var(--text-highlight-strong);
}

:global(.light) {
	--text-normal: var(--gray-8);
}
:global(.dark) {
	--text-normal: var(--gray-1);
}
.normal {
	color: var(--text-normal);
}

:global(.light) {
	--text-muted: var(--gray-4);
}
:global(.dark) {
	--text-muted: var(--gray-3);
}
.muted {
	color: var(--text-muted);
}
