/* VARIABLES */

:root {
	--highlight-0: #f0f9ff;
	--highlight-1: #e1f3fe;
	--highlight-2: #bae5fd;
	--highlight-3: #7ed4fc;
	--highlight-4: #3abff8;
	--highlight-5: #0da2e7;
	--highlight-6: #0284c5;
	--highlight-7: #0369a0;
	--highlight-8: #075783;
	--highlight-9: #0c4a6e;

	--success-0: #ecfdf5;
	--success-1: #d1fae5;
	--success-2: #a7f3d0;
	--success-3: #6ee7b7;
	--success-4: #34d399;
	--success-5: #10b981;
	--success-6: #059669;
	--success-7: #047857;
	--success-8: #065f46;
	--success-9: #064e3b;

	--failure-0: #fff1f2;
	--failure-1: #ffe4e6;
	--failure-2: #fecdd3;
	--failure-3: #fda4af;
	--failure-4: #fb7185;
	--failure-5: #f43f5e;
	--failure-6: #e11d48;
	--failure-7: #be123c;
	--failure-8: #9f1239;
	--failure-9: #881337;

	/*
	Format:
	- l/d: light or dark mode
	- bg/fg/br: background, foreground, border
	- 1st/2nd: primary (strong), secondary (weak)
	*/
	--gray-0: hsl(0, 0%, 100%); /* l bg 1st */
	--gray-1: hsl(0, 0%, 98%); /* l bg 2nd, d fg 1st */
	--gray-2: hsl(240, 6%, 90%); /* l br 2nd */
	--gray-3: hsl(232, 7%, 78%); /* l br 1st */
	--gray-4: hsl(240, 5%, 65%); /* d fg 2nd */
	--gray-5: hsl(240, 4%, 46%); /* l fg 2nd */
	--gray-6: hsl(240, 5%, 34%); /* d br 1st */
	--gray-7: hsl(240, 5%, 26%); /* d br 2nd */
	--gray-8: hsl(232, 7%, 22%); /* d bg 1st */
	--gray-9: hsl(240, 4%, 16%); /* d bg 2nd, l fg 1st */
	--gray-10: hsl(240, 6%, 10%); /* do not use */

	/* Avoid Ubuntu Mono as it's significantly smaller than others at the same
	font size */
	--font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace;
	--font-sans: "Inter var", system-ui, -apple-system, sans-serif;

	/* Border Radius */
	--radius-1: 3px;

	/* Shadow */
	--shadow-1: 0px 1px 4px rgba(0, 0, 0, 0.1);
	--shadow-2: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

/* RESET */

p,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* Decouple semantic from styling */
h1,
h2,
h3,
h4,
h5,
h6 {
	font: inherit;
}

a {
	color: inherit;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/* BASE STYLES */

html {
	font-family: var(--font-sans);
	font-size: 14px;

	/*
	This must be larger than the original line-height at 14px (defined by the
	font itself) which is 17px to avoid Firefox to reset it. Also it must be
	large enough to not cut the character (test with "g" and "ấ")
	*/
	line-height: 20px;
}

.light {
	font-weight: 425;
}

.dark {
	font-weight: 450;
}

/* The theme classes ("light" or "dark") may be added in both html and body */
.light body,
body.light {
	background-color: var(--gray-0);
	color: var(--gray-9);
}

.dark body,
body.dark {
	background-color: var(--gray-8);
	color: var(--gray-1);
}
