:root {
	/* accent */
	--blue-0: #f0f9ff;
	--blue-1: #e1f3fe;
	--blue-2: #bae5fd;
	--blue-3: #7ed4fc;
	--blue-4: #3abff8;
	--blue-5: #0da2e7; /* blue-2 blue 3 */
	--blue-6: #0284c5; /* blue-1 */
	--blue-7: #0369a0; /* blue-0 */
	--blue-8: #075783;
	--blue-9: #0c4a6e;

	--green-0: #ecfdf5;
	--green-1: #d1fae5;
	--green-2: #a7f3d0;
	--green-3: #6ee7b7;
	--green-4: #34d399;
	--green-5: #10b981;
	--green-6: #059669;
	--green-7: #047857;
	--green-8: #065f46;
	--green-9: #064e3b;

	--red-0: #fff1f2;
	--red-1: #ffe4e6;
	--red-2: #fecdd3;
	--red-3: #fda4af;
	--red-4: #fb7185;
	--red-5: #f43f5e;
	--red-6: #e11d48;
	--red-7: #be123c;
	--red-8: #9f1239;
	--red-9: #881337;

	/*
	Format:
	- l/d: light or dark mode
	- bg/fg/br: background, foreground, border
	- 1st/2nd: primary (strong), secondary (weak)
	*/
	--gray-0: hsl(0, 0%, 100%); /* l bg 1st */
	--gray-1: hsl(0, 0%, 98%); /* l bg 2nd, d fg 1st */
	--gray-2: hsl(240, 6%, 90%); /* l br 2nd */
	--gray-3: hsl(232, 7%, 78%); /* l br 1st */
	--gray-4: hsl(240, 5%, 65%); /* d fg 2nd */
	--gray-5: hsl(240, 4%, 46%); /* l fg 2nd */
	--gray-6: hsl(240, 5%, 34%); /* d br 1st */
	--gray-7: hsl(240, 5%, 26%); /* d br 2nd */
	--gray-8: hsl(232, 7%, 22%); /* d bg 1st */
	--gray-9: hsl(240, 4%, 16%); /* d bg 2nd */
	--gray-10: hsl(240, 6%, 10%); /* do not use */

	/* Avoid Ubuntu Mono as it's significantly smaller than others at the same
	font size */
	--font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace;
	--font-sans: "Inter var", system-ui, -apple-system, sans-serif;
}

p,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* Decouple semantic from styling */
h1,
h2,
h3,
h4,
h5,
h6 {
	font: inherit;
}

a {
	color: inherit;
}

html {
	font-family: var(--font-sans);
	font-size: 14px;
	line-height: 16px;
}

.light {
	font-weight: 425;
}

.dark {
	font-weight: 450;
}

.light body,
body.light {
	background-color: var(--gray-0);
	color: var(--gray-9);
}

.dark body,
body.dark {
	background-color: var(--gray-8);
	color: var(--gray-1);
}
