.wrapper {
	display: block;
}

.container {
	display: block;
}

.track {
	fill: none;
	stroke: currentColor;
	/* @TODO: Use solid color when blue has bigger range */
	opacity: 0.15;
}

.head {
	fill: none;
	stroke: currentColor;
	stroke-linecap: round;
	transform-origin: center;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.animate {
	animation: spin 0.5s linear infinite;
}
