// See comment in "./global.scss"

@mixin light {
	html:global(.theme-light) & {
		@content;
	}
	html:not(:global(.theme-light)):not(:global(.theme-dark)) & {
		@media (prefers-color-scheme: no-preference),
			(prefers-color-scheme: light) {
			@content;
		}
	}
}

@mixin dark {
	html:global(.theme-dark) & {
		@content;
	}
	html:not(:global(.theme-light)):not(:global(.theme-dark)) & {
		@media (prefers-color-scheme: dark) {
			@content;
		}
	}
}
