.large {
	height: 40px;
	padding: 0 16px;
	font-size: 16px;
	/* Enforce width in case of link. Note that we must define
	width here because icon-sized also define them. */
	width: fit-content;
}

.largeIcon {
	height: 40px;
	width: 40px;
}

.medium {
	height: 32px;
	padding: 0 12px;
	width: fit-content;
}

.mediumIcon {
	height: 32px;
	width: 32px;
}

.small {
	height: 24px;
	padding: 0 8px;
	width: fit-content;
}

.smallIcon {
	height: 24px;
	width: 24px;
}
