@import "./theme/global.scss";

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	appearance: none;
	font: inherit;
	color: inherit;
	background: none;
	list-style-type: none;
}

:root {
	// Common color scheme - Not really sure about this though
	--accent-0: hsl(211, 61%, 43%);
	--accent-1: hsl(209, 62%, 50%);
	--accent-2: hsl(207, 73%, 57%);
	--accent-3: hsl(205, 79%, 60%);

	// Light color scheme
	--light-gray-0: hsl(235, 5%, 100%); // background strong
	--light-gray-1: hsl(235, 15%, 98%); // background weak
	--light-gray-2: hsl(235, 9%, 91%); // border weak
	--light-gray-3: hsl(235, 7%, 78%); // border strong
	--light-gray-4: hsl(235, 6%, 50%); // foreground weak
	--light-gray-5: hsl(235, 5%, 15%); // foreground strong

	// Dark color scheme
	--dark-gray-0: hsl(235, 5%, 13%); // widget border
	--dark-gray-1: hsl(235, 6%, 17%); // background weak
	--dark-gray-2: hsl(235, 6%, 22%); // background strong
	--dark-gray-3: hsl(235, 6%, 27%); // border weak
	--dark-gray-4: hsl(235, 6%, 36%); // border strong
	--dark-gray-5: hsl(235, 5%, 65%); // foreground weak
	--dark-gray-6: hsl(235, 5%, 98%); // foreground strong

	// Avoid Ubuntu Mono as it's significantly smaller than others at the same
	// font size
	--font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace;
}

// Google Fonts doesn't have OpenType features
@import url("https://rsms.me/inter/inter.css");

body {
	font-family: "Inter", sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: 425;

	@supports (font-variation-settings: normal) {
		font-family: "Inter var", sans-serif;
	}

	@include light {
		background-color: var(--light-gray-0);
		color: var(--light-gray-5);
	}
	@include dark {
		background-color: var(--dark-gray-2);
		color: var(--dark-gray-6);
	}
}
