/*
These external CSS will be inlined by the import-css plugin of PostCSS
- See https://github.com/vercel/next.js/blob/master/errors/css-npm.md
*/
@import "sanitize.css/evergreen.css";
@import "sanitize.css/forms.evergreen.css";

:root {
	/* accent */
	--blue-0: #f0f9ff;
	--blue-1: #e1f3fe;
	--blue-2: #bae5fd;
	--blue-3: #7ed4fc;
	--blue-4: #3abff8;
	--blue-5: #0da2e7; /* blue-2 blue 3 */
	--blue-6: #0284c5; /* blue-1 */
	--blue-7: #0369a0; /* blue-0 */
	--blue-8: #075783;
	--blue-9: #0c4a6e;

	--green-3: #34d399;
	--green-2: #10b981;
	--green-1: #059669;
	--green-0: #047857;

	--red-3: #f87171;
	--red-2: #ef4444;
	--red-1: #dc2626;
	--red-0: #b91c1c;

	/*
	Format:
	- l/d: light or dark mode
	- bg/fg/br: background, foreground, border
	- 1st/2nd: primary (strong), secondary (weak)
	*/
	--gray-0: #ffffff; /* l bg 1st */
	--gray-1: #fafafa; /* l bg 2nd, d fg 1st */
	--gray-2: #e4e4e7; /* l br 2nd */
	--gray-3: #c3c4cb; /* l br 1st */
	--gray-4: #a1a1aa; /* d fg 2nd */
	--gray-5: #71717a; /* l fg 2nd */
	--gray-6: #52525b; /* d br 1st */
	--gray-7: #3f3f46; /* d br 2nd */
	--gray-8: #34353c; /* d bg 1st */
	--gray-9: #27272a; /* d bg 2nd */
	--gray-10: #18181b; /* do not use */

	/* Avoid Ubuntu Mono as it's significantly smaller than others at the same
	font size */
	--font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace;
	--font-sans: "Inter var", system-ui, -apple-system, sans-serif;
}

p,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* Decouple semantic from styling */
h1,
h2,
h3,
h4,
h5,
h6 {
	font: inherit;
}

a {
	color: inherit;
}

html {
	font-family: var(--font-sans);
	font-size: 14px;
	line-height: 16px;
}

.light {
	font-weight: 425;
}

.dark {
	font-weight: 450;
}

.light body,
body.light {
	background-color: var(--gray-0);
	color: var(--gray-9);
}

.dark body,
body.dark {
	background-color: var(--gray-8);
	color: var(--gray-1);
}
