@import "./theme/global.scss";

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	appearance: none;
	font: inherit;
	color: inherit;
	background: none;
	list-style-type: none;
}

:root {
	// Common color scheme - Not really sure about this though
	--accent-0: hsl(211, 61%, 43%);
	--accent-1: hsl(209, 62%, 50%);
	--accent-2: hsl(207, 73%, 57%);
	--accent-3: hsl(205, 79%, 60%);

	// Light color scheme
	--light-gray-0: hsl(00, 00%, 100%); // background strong
	--light-gray-1: hsl(240, 20%, 98%); // background weak
	--light-gray-2: hsl(240, 09%, 93%); //
	--light-gray-3: hsl(240, 05%, 88%); // border weak
	--light-gray-4: hsl(218, 11%, 81%); // border strong
	--light-gray-5: hsl(210, 04%, 53%); // foreground weak
	--light-gray-6: hsl(202, 11%, 15%); // foreground strong

	// Dark color scheme
	--dark-gray-0: hsl(230, 00%, 00%); //
	--dark-gray-1: hsl(229, 10%, 09%); //
	--dark-gray-2: hsl(235, 09%, 14%); // background weak
	--dark-gray-3: hsl(233, 09%, 19%); // background strong
	--dark-gray-4: hsl(229, 11%, 25%); // border weak
	--dark-gray-5: hsl(230, 08%, 43%); // border strong
	--dark-gray-6: hsl(215, 08%, 56%); // foreground weak
	--dark-gray-7: hsl(173, 10%, 98%); // foreground strong

	// Avoid Ubuntu Mono as it's significantly smaller than others at the same
	// font size
	--font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace;
}

// Google Fonts doesn't have OpenType features
@import url("https://rsms.me/inter/inter.css");

body {
	font-family: "Inter", sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: 425;

	@supports (font-variation-settings: normal) {
		font-family: "Inter var", sans-serif;
	}

	@include light {
		background-color: var(--light-gray-0);
		color: var(--light-gray-6);
	}
	@include dark {
		background-color: var(--dark-gray-3);
		color: var(--dark-gray-7);
	}
}
