:root {
	--highlight-0: #f0f9ff;
	--highlight-1: #e1f3fe;
	--highlight-2: #bae5fd;
	--highlight-3: #7ed4fc;
	--highlight-4: hsl(198, 93%, 55%);
	--highlight-5: hsl(199, 89%, 48%);
	--highlight-6: hsl(200, 98%, 39%);
	--highlight-7: hsl(201, 96%, 32%);
	--highlight-8: #075783;
	--highlight-9: #0c4a6e;

	--success-0: #ecfdf5;
	--success-1: #d1fae5;
	--success-2: #a7f3d0;
	--success-3: #6ee7b7;
	--success-4: #34d399;
	--success-5: #10b981;
	--success-6: #059669;
	--success-7: #047857;
	--success-8: #065f46;
	--success-9: #064e3b;

	--failure-0: #fff1f2;
	--failure-1: #ffe4e6;
	--failure-2: #fecdd3;
	--failure-3: #fda4af;
	--failure-4: #fb7185;
	--failure-5: #f43f5e;
	--failure-6: #e11d48;
	--failure-7: #be123c;
	--failure-8: #9f1239;
	--failure-9: #881337;

	--white: #ffffff;
	--black: #000000;

	--gray-0: hsl(235, 18%, 98%); /* light app bg */
	--gray-1: hsl(220, 13%, 90%);
	--gray-2: hsl(216, 12%, 77%);
	--gray-3: hsl(218, 11%, 65%);
	--gray-4: hsl(220, 09%, 46%);
	--gray-5: hsl(221, 13%, 32%);
	--gray-6: hsl(222, 13%, 26%);
	--gray-7: hsl(220, 13%, 18%);
	--gray-8: hsl(216, 13%, 15%); /* dark app bg */
	--gray-9: hsl(216, 13%, 10%);

	/* Avoid Ubuntu Mono as it's significantly smaller than others at the same
	font size */
	--font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace;

	/* We prefer Inter variable but also support system font */
	--font-sans: "Inter var", system-ui, -apple-system, sans-serif;

	/* Border Radius */
	--radius-1: 2px;

	/* Shadow */
	--shadow-1: 0px 1px 4px rgba(0, 0, 0, 0.1);
	--shadow-2: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

* {
	box-sizing: border-box;
}

p,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
	/* Decouple semantic from styling */
	margin: 0;
	font: inherit;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	color: var(--highlight-6);
}

fieldset,
button,
input,
select,
textarea {
	background-color: none;
	border: none;
	margin: none;
	padding: none;

	color: inherit;
	font: inherit;
	letter-spacing: inherit;
}

html {
	font-family: var(--font-sans);
	font-size: 14px;

	/*
	This must be larger than the original line-height at 14px (defined by the
	font itself) which is 17px to avoid Firefox to reset it. Also it must be
	large enough to not cut the character (test with "g" and "áº¥")
	*/
	line-height: 20px;
}

.light {
	font-weight: 425;
	color: var(--gray-9);
}

.dark {
	font-weight: 450;
	color: var(--gray-1);
}

.light body {
	background-color: var(--gray-0);
}

.dark body {
	background-color: var(--gray-8);
}
