.container {
	display: inline-flex;
	align-items: center;
	padding: 0 8px;
    height: 24px;
    font-weight: 500;
}

:global(.light) .neutral {
	background-color: var(--gray-2);
	color: var(--gray-7);
}

:global(.dark) .neutral {
	background-color: var(--gray-6);
	color: var(--gray-1);
}

:global(.light) .failure {
	background-color: var(--failure-1);
	color: var(--failure-9);
}

:global(.dark) .failure {
	background-color: var(--failure-9);
	color: var(--failure-2);
}

:global(.light) .highlight {
	background-color: var(--highlight-1);
	color: var(--highlight-9);
}

:global(.dark) .highlight {
	background-color: var(--highlight-9);
	color: var(--highlight-2);
}

:global(.light) .success {
	background-color: var(--success-1);
	color: var(--success-9);
}

:global(.dark) .success {
	background-color: var(--success-9);
	color: var(--success-2);
}
