@import "../../theme/module.scss";

.menu {
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	z-index: 1;

	@include light {
		box-shadow: 0px 1px 4px var(--light-gray-2);
	}

	@include dark {
		box-shadow: 0px 1px 4px var(--dark-gray-0);
	}
}
