.main {
	/* Pretty much nothing in normal state */
	text-align: inherit;
    text-decoration: inherit;

	/* Reset stuffs */
	border: none;
	border-radius: 0;
	background-color: none;
}

/* Mimic Button.styles.main hover */
:global(.light) .main:hover {
	background-color: var(--neutral-2);
}
:global(.dark) .main:hover {
	background-color: var(--neutral-2);
}

/* Mimic background.primary */
:global(.light) .main:focus {
	background-color: var(--neutral-0);
}
:global(.dark) .main:focus {
	background-color: var(--gray-9);
}

:global(.light) .main:disabled {
	color: var(--neutral-4);
}
:global(.dark) .main:disabled {
	color: var(--neutral-4);
}

