@import "../theme/module.scss";

.input {
	width: 100%;
	transition: background-color 0.1s, outline 0.2s ease-out;
	line-height: 16px;
}

.flat {
	// pretty much nothing in normal state
	text-align: inherit;
	text-decoration: inherit;

	// mimic button.style.flat hover
	&:hover:not([readonly]):not([disabled]) {
		@include light {
			background-color: var(--light-gray-2);
		}
		@include dark {
			background-color: var(--dark-gray-2);
		}
	}

	// mimic background.primary
	&:focus:not([readonly]):not([disabled]) {
		@include light {
			background-color: var(--light-gray-0);
		}
		@include dark {
			background-color: var(--dark-gray-1);
		}
	}
}

.outset {
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
}

.medium {
	padding: 8px;
}

.small {
	padding: 4px 8px;
}
