.container {
	position: relative;
	width: 100%;
}

.input {
	width: 100%;
	transition: background-color 0.1s, outline 0.2s ease-out;
}

.icon {
	position: absolute;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	/* win outline's z-index */
	z-index: 1;
}

.flat {
	/* pretty much nothing in normal state */
	text-align: inherit;
	text-decoration: inherit;
}

/* mimic button.style.flat hover */
:global(.light) .flat:hover:not([readonly]):not([disabled]) {
	background-color: var(--gray-2);
}
:global(.dark) .flat:hover:not([readonly]):not([disabled]) {
	background-color: var(--gray-7);
}

/* mimic background.primary */
:global(.light) .flat:focus:not([readonly]):not([disabled]) {
	background-color: var(--gray-0);
}
:global(.dark) .flat:focus:not([readonly]):not([disabled]) {
	background-color: var(--gray-8);
}

.outset {
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
}

.mediumMain,
.mediumMainWithIcon {
	padding-right: 12px;
	height: 32px;
}

/* Follow Button.size.medium */
.mediumMain {
	padding-left: 12px;
}

.mediumMainWithIcon {
	/* 12 + 16 + 8 */
	padding-left: 36px;
}

.mediumIcon {
	left: 12px;
}

/* Follow Button.size.small */
.smallMain,
.smallMainWithIcon {
	padding-right: 8px;
	height: 24px;
}

.smallMain {
	padding-left: 8px;
}

.smallMainWithIcon {
	/* 8 + 12 + 4 */
	padding-left: 24px;
}

.smallIcon {
	left: 8px;
}
