.titles {
	padding: 0 16px;
	margin-bottom: -1px;
}

.title {
	padding: 8px 12px;
	cursor: pointer;
	border-style: solid;
	border-width: 1px;
	border-bottom: none;
	transition: outline 0.2s;
	border-radius: 3px 3px 0 0;
}

.nonactive {
	border-color: transparent;
}
