.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.cols {
  display: flex;
  gap: 8px;
}

.rows {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.col {
  flex: 1 1 0px;
}

.colFull {
  grid-column: 1/-1;
}
