.p {
	line-height: 1.5;
}

.strong {
	font-weight: 600;
}

.break {
	word-break: break-all;
}

.big {
	font-size: 18px;
}

:global(.light) .redWeak {
	color: var(--red-6);
}
:global(.dark) .redWeak {
	color: var(--red-5);
}

:global(.light) .redStrong {
	color: var(--red-7);
}
:global(.dark) .redStrong {
	color: var(--red-5);
}

:global(.light) .greenWeak {
	color: var(--green-6);
}
:global(.dark) .greenWeak {
	color: var(--green-5);
}

:global(.light) .greenStrong {
	color: var(--green-7);
}
:global(.dark) .greenStrong {
	color: var(--green-5);
}

:global(.light) .blueWeak {
	color: var(--blue-6);
}
:global(.dark) .blueWeak {
	color: var(--blue-5);
}

:global(.light) .blueStrong {
	color: var(--blue-7);
}
:global(.dark) .blueStrong {
	color: var(--blue-5);
}

:global(.light) .muted {
	color: var(--gray-5);
}
:global(.dark) .muted {
	color: var(--gray-4);
}
