.p {
	line-height: 1.5;
}

.strong {
	font-weight: 600;
}

.break {
	word-break: break-all;
}

.big {
	font-size: 18px;
}

:global(.light) .failureWeak {
	color: var(--failure-6);
}
:global(.dark) .failureWeak {
	color: var(--failure-5);
}

:global(.light) .failureStrong {
	color: var(--failure-7);
}
:global(.dark) .failureStrong {
	color: var(--failure-4);
}

:global(.light) .successWeak {
	color: var(--success-6);
}
:global(.dark) .successWeak {
	color: var(--success-5);
}

:global(.light) .successStrong {
	color: var(--success-7);
}
:global(.dark) .successStrong {
	color: var(--success-5);
}

:global(.light) .highlightWeak {
	color: var(--highlight-6);
}
:global(.dark) .highlightWeak {
	color: var(--highlight-5);
}

:global(.light) .highlightStrong {
	color: var(--highlight-7);
}
:global(.dark) .highlightStrong {
	color: var(--highlight-5);
}

:global(.light) .muted {
	color: var(--neutral-4);
}
:global(.dark) .muted {
	color: var(--neutral-4);
}
