@import "../theme/module.scss";

.p {
	line-height: 1.5;
}

.strong {
	font-weight: 600;
}

.break {
    word-break: break-all;
}

.negative {
    @include light {
        color: var(--negative-0);
    }
    @include dark {
        color: var(--negative-3);
    }
}

.positive {
    @include light {
        color: var(--positive-0);
    }
    @include dark {
        color: var(--positive-3);
    }
}

.highlight {
    @include light {
        color: var(--accent-0);
    }
    @include dark {
        color: var(--accent-3);
    }
}

.muted {
    @include light {
        color: var(--light-gray-4);
    }

    @include dark {
        color: var(--dark-gray-4);
    }
}
