.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Inter;
}

.errorText {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    padding: 1rem;
}