.header {
	border-bottom: solid 1px;
	z-index: 10;
	backdrop-filter: saturate(200%) blur(20px);
}

:global(.light) .header {
	background-color: hsla(0, 100%, 100%, 0.8); /* white */
}

:global(.dark) .header {
	background-color: hsla(220, 13%, 18%, 0.6); /* gray-7 */
}
