:global(.light) .strong {
	background-color: var(--white);
	color: var(--gray-8);
}

:global(.dark) .strong {
	background-color: var(--gray-7);
	color: var(--gray-0);
}

:global(.light) .weak {
	background-color: var(--gray-0);
	color: var(--gray-8);
}

:global(.dark) .weak {
	background-color: var(--gray-8);
	color: var(--gray-0);
}

:global(.light) .inverse {
	background-color: var(--gray-9);
	color: var(--gray-0);
}

:global(.dark) .inverse {
	background-color: var(--gray-6);
	color: var(--gray-1);
}

:global(.light) .failureWeak {
	background-color: var(--failure-6);
}
:global(.dark) .failureWeak {
	background-color: var(--failure-5);
}

:global(.light) .failureStrong {
	background-color: var(--failure-7);
}
:global(.dark) .failureStrong {
	background-color: var(--failure-4);
}

:global(.light) .successWeak {
	background-color: var(--success-6);
}
:global(.dark) .successWeak {
	background-color: var(--success-6);
}

:global(.light) .successStrong {
	background-color: var(--success-7);
}
:global(.dark) .successStrong {
	background-color: var(--success-5);
}

:global(.light) .highlightWeak {
	background-color: var(--highlight-6);
}
:global(.dark) .highlightWeak {
	background-color: var(--highlight-5);
}

:global(.light) .highlightStrong {
	background-color: var(--highlight-7);
}
:global(.dark) .highlightStrong {
	background-color: var(--highlight-5);
}
