:global(.light) .primary {
	background-color: var(--gray-0);
	color: var(--gray-9);
}

:global(.dark) .primary {
	background-color: var(--gray-8);
	color: var(--gray-1);
}

:global(.light) .secondary {
	background-color: var(--gray-1);
	color: var(--gray-9);
}

:global(.dark) .secondary {
	background-color: var(--gray-9);
	color: var(--gray-1);
}

:global(.light) .inverse {
	background-color: var(--gray-9);
	color: var(--gray-0);
}

:global(.dark) .inverse {
	background-color: var(--gray-6);
	color: var(--gray-1);
}

:global(.light) .redWeak {
	background-color: var(--red-6);
}
:global(.dark) .redWeak {
	background-color: var(--red-5);
}

:global(.light) .redStrong {
	background-color: var(--red-7);
}
:global(.dark) .redStrong {
	background-color: var(--red-5);
}

:global(.light) .greenWeak {
	background-color: var(--green-6);
}
:global(.dark) .greenWeak {
	background-color: var(--green-6);
}

:global(.light) .greenStrong {
	background-color: var(--green-7);
}
:global(.dark) .greenStrong {
	background-color: var(--green-5);
}

:global(.light) .blueWeak {
	background-color: var(--blue-6);
}
:global(.dark) .blueWeak {
	background-color: var(--blue-5);
}

:global(.light) .blueStrong {
	background-color: var(--blue-7);
}
:global(.dark) .blueStrong {
	background-color: var(--blue-5);
}
