@import "../theme/module.scss";

.primary {
	@include light {
		background-color: var(--gray-0);
		color: var(--gray-9);
	}
	@include dark {
		background-color: var(--gray-8);
		color: var(--gray-1);
	}
}

.secondary {
	@include light {
		background-color: var(--gray-1);
		color: var(--gray-9);
	}
	@include dark {
		background-color: var(--gray-9);
		color: var(--gray-1);
	}
}

.inverse {
	@include light {
		background-color: var(--gray-9);
		color: var(--gray-0);
	}
	@include dark {
		background-color: var(--gray-6);
		color: var(--gray-1);
	}
}
