@media (min-width: 641px) {
	.container {
		grid-template-columns: 200px repeat(auto-fill, 320px);
    }
    .table {
        grid-column: 2 / -1;
    }
}

@media (max-width: 640px) {
	.container {
		grid-template-columns: 100%;
    }
}
