@import "../theme/module.scss";

.custom {
	// Firefox
	@include light {
		scrollbar-color: var(--light-gray-3) var(--light-gray-1);
	}
	@include dark {
		scrollbar-color: var(--dark-gray-3) var(--dark-gray-0);
	}

	// Everything but Firefox
	@include light {
		::-webkit-scrollbar-thumb {
			background-color: var(--light-gray-3);
		}
		::-webkit-scrollbar-track,
		::-webkit-scrollbar-corner {
			background-color: var(--light-gray-1);
		}
	}
	@include dark {
		::-webkit-scrollbar-thumb {
			background-color: var(--dark-gray-3);
		}
		::-webkit-scrollbar-track,
		::-webkit-scrollbar-corner {
			background-color: var(--dark-gray-0);
		}
	}

	::-webkit-scrollbar {
		width: 16px;
		height: 16px;
	}
}
