.container {
	position: relative;
}

.content {
	width: fit-content;
}

.full {
	width: 100%;
}

.select {
	width: 100%;
	text-align: left;
	cursor: pointer;
}

.icon {
	position: absolute;
	margin: auto;
	top: 0px;
	bottom: 0px;
	height: 16px;
	pointer-events: none;
	/* wins the z-index of outline */
	z-index: 1;
}

.mediumSelect {
	height: 32px;
	padding-left: 12px;
	padding-right: 32px;
}

.mediumIcon {
	right: 8px;
}

.smallSelect {
	height: 24px;
	padding-left: 8px;
	padding-right: 24px;
}

.smallIcon {
	right: 4px;
}

.flatContainer {
	text-decoration: inherit;
}
