.container {
	position: relative;
}

.content {
	width: fit-content;
}

.full {
	width: 100%;
}

.select {
	width: 100%;
	text-align: left;
	cursor: pointer;
}

.outset {
	border-radius: 3px;
}

.icon {
	position: absolute;
	margin: auto;
	top: 0px;
	bottom: 0px;
	height: 16px;
	pointer-events: none;
	z-index: 1; // wins the z-index of outline
}

.mediumSelect {
	padding: 8px 32px 8px 12px;
}

.mediumIcon {
	right: 8px;
}

.smallSelect {
	padding: 4px 24px 4px 8px;
}

.smallIcon {
	right: 4px;
}

.flatContainer {
	text-decoration: inherit;
}
