.container {
	position: relative;
}

.content {
	width: fit-content;
}

.full {
	width: 100%;
}

.select {
	width: 100%;
	text-align: left;
}

.medium {
	padding: 8px 32px 8px 12px;
}

.small {
	padding: 4px 32px 4px 8px;
}

.outset {
	border-radius: 3px;
}

.icon {
	position: absolute;
	margin: auto;
	top: 0px;
	bottom: 0px;
	right: 8px;
	height: 16px;
	pointer-events: none;
	z-index: 1; // wins the z-index of outline
}
