.container {
	display: flex;
	align-items: center;
	position: relative;

	width: max-content;
	max-width: 288px;
	padding: 8px 12px;

	background-color: var(--neutral-2);
	color: var(--gray-1);
}

.icon {
	flex: 0 0 auto;
}

.children {
	flex: 1 1 0px;
}

.button {
	flex: 0 0 auto;
	/* button's height is 24px while line-height is 16px */
	margin: -4px;
}
