.px1 {
	border-width: 1px;
	border-style: solid;
}

/* Color */

:global(.light) .weak {
	border-color: var(--neutral-2);
}

:global(.dark) .weak {
	border-color: var(--neutral-2);
}

:global(.light) .strong {
	border-color: var(--neutral-3);
}

:global(.dark) .strong {
	border-color: var(--neutral-3);
}

:global(.light) .highlightWeak {
	border-color: var(--highlight-6);
}
:global(.dark) .highlightWeak {
	border-color: var(--highlight-5);
}

:global(.light) .highlightStrong {
	border-color: var(--highlight-5);
}
:global(.dark) .highlightStrong {
	border-color: var(--highlight-5);
}

.borderFull {
	border-right: none;
	border-bottom: none;
	border-top-style: solid;
	border-left-style: solid;
	align-self: stretch;
	height: auto;
}

/* Radius */

.radius {
	border-radius: var(--radius-1);
}

:global(.group-tail) .radius {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

:global(.group-init) .radius {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
