/* First column & Last column */
.container.firstColumn th:first-child,
.container.firstColumn td:first-child {
	position: sticky;
	left: 0;
	z-index: var(--z-sticky-1);
}

.container.lastColumn th:last-child,
.container.lastColumn td:last-child {
	position: sticky;
	right: 0;
	z-index: var(--z-sticky-1);
}

@media (max-width: 640px) {
  /* Leave enough space for the rest of columns to be scrolled.
  "max-width: 50%" is better but it does not apply for td and th */
	.container.firstColumn td:first-child,
	.container.firstColumn th:first-child {
		width: 160px;
	}

  .container.lastColumn td:last-child,
	.container.lastColumn th:last-child {
		width: 160px;
	}
}

/* Heading */
.container th {
	position: sticky;
	top: 0;
	z-index: var(--z-sticky-1);
}

/* Fix z-index of the special top-left and top-right cell */
.container.firstColumn th:first-child {
	z-index: var(--z-sticky-2);
}

.container.lastColumn th:last-child {
	z-index: var(--z-sticky-2);
}

/* Visual touch to make first column and last column stands out more */
.container.firstColumn td:first-child,
.container.firstColumn th:first-child {
	padding-right: 16px;
	border-right-width: 1px;
	border-right-style: solid;
}

.container.lastColumn td:last-child,
.container.lastColumn th:last-child {
	padding-left: 16px;
	border-left-width: 1px;
	border-left-style: solid;
}

.container.firstColumn td:nth-child(2),
.container.firstColumn th:nth-child(2) {
	padding-left: 16px;
}

.container.lastColumn td:nth-last-child(2),
.container.lastColumn th:nth-last-child(2) {
	padding-right: 16px;
}
