/* Try to have as little CSS here as possible, so that our tables behave like
in native HTML */

/* container is the "table" tag */
.container {
	/* To make heading's bottom border visible while scrolling */
	border-collapse: separate;
	/* Avoid actually "separate" the borders */
	border-spacing: 0;
}
.container-fill {
	/* To make full 100% width of table */
	min-width: 100%;

}
/* Cell spacing */

.container th,
.container td {
	padding: 12px 8px;
}

.container td:first-child,
.container th:first-child {
	padding-left: 16px;
}

.container td:last-child,
.container th:last-child {
	padding-right: 16px;
}

/* Row's background change on hover */

/* Same as background.weak */
:global(.light) .container tr:hover td {
	background-color: var(--gray-0);
}
:global(.dark) .container tr:hover td {
	background-color: var(--gray-8);
}

/* Bordering */

.container th,
.container td {
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.container tr:last-child td {
	border-bottom-style: none;
}
