/* Try to have as little CSS here as possible, so that our tables behave like
in native HTML */

/* container is the "table" tag */
.container {
	/* To make heading's bottom border visible while scrolling */
	border-collapse: separate;
	/* Avoid actually "separate" the borders */
	border-spacing: 0;
}
.containerFill {
	/* To make the table takes 100% of its container width */
	min-width: 100%;

}
/* Cell spacing */

.container th,
.container td {
	padding: 12px 8px;
}

.container td:first-child,
.container th:first-child {
	padding-left: 16px;
}

.container td:last-child,
.container th:last-child {
	padding-right: 16px;
}

/* Row's background change on hover */

/* Same as background.weak */
:global(.light) .container tr:hover td {
	background-color: var(--gray-0);
}
:global(.dark) .container tr:hover td {
	background-color: var(--gray-8);
}

/* Bordering */

.container th,
.container td {
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.container tr:last-child td {
	border-bottom-style: none;
}

/* Cell spacing */

/* Medium */
.medium th,
.medium td {
	padding: 12px 8px;
}

.medium td:first-child,
.medium th:first-child {
	padding-left: 16px;
}

.medium td:last-child,
.medium th:last-child {
	padding-right: 16px;
}

.small th,
.small td {
	padding: 9px 6px;
}

/* Small */
.small td:first-child,
.small th:first-child {
	padding-left: 12px;
}

.small td:last-child,
.small th:last-child {
	padding-right: 12px;
}

/* Large */
.large th,
.large td {
	padding: 11px 7.5px;
}

.large td:first-child,
.large th:first-child {
	padding-left: 15px;
}

.large td:last-child,
.large th:last-child {
	padding-right: 15px;
}
