/* These are minimum amount of CSS to have sticky header and first column */

.container {
	height: 245px;
	overflow: auto;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.container table {
	min-width: 1400px;
}

.container th {
	text-align: left;
}

.name {
	width: 120px;
}
