/* These are minimum amount of CSS to have sticky header and first column */

.primary {
	height: 245px;
	overflow: auto;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.primary table {
	min-width: 1400px;
}

.primary th {
	text-align: left;
}

.name {
	width: 160px;
}

.expandable th {
	text-align: left;
}
