.container {
	position: relative;
	/* To make heading's bottom border visible while scrolling */
	border-collapse: separate;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
	overflow-wrap: normal;
}

.container th,
.container td {
	overflow: hidden;
	padding: 12px 8px;
	text-overflow: ellipsis;

	border-bottom-style: solid;
	border-bottom-width: 1px;
}

/* Same as background.weak */
:global(.light) .container tr:hover td {
	background-color: var(--gray-0);
}
:global(.dark) .container tr:hover td {
	background-color: var(--gray-8);
}

.container tr:last-child td {
	border-bottom-style: none;
}

.container td:first-child,
.container th:first-child {
	position: sticky;
	left: 0;
	border-right-style: solid;
	border-right-width: 1px;
	padding-left: 16px;
	padding-right: 16px;
}

.container td:first-child {
	z-index: 1;
}

@media (max-width: 640px) {
	.container td:first-child,
	.container th:first-child {
		/* Leave enough space for the rest of columns to be scrolled. It's
		better to use "max-width: 50%" but it does not apply for td and th */
		width: 160px;
	}
}

.container td:nth-child(2),
.container th:nth-child(2) {
	padding-left: 16px;
}

.container td:last-child,
.container th:last-child {
	padding-right: 16px;
}

.container th {
	position: sticky;
	top: 0;
	z-index: 2;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.container th:first-child {
	z-index: 3;
}
