.container {
	height: 400px;
	width: 100%;
	overflow: auto;
}

/* Quick fix to un-bold the inputs in header */
.container th input,
.container th select {
	font-weight: 425;
}

.actions {
	display: flex;
}

.materials {
	display: flex;
}

.overview {
	display: flex;
	align-items: center;
	white-space: nowrap;
}

.mac {
	display: flex;
	align-items: center;
}
