.container {
	height: 400px;
	width: 100%;
	overflow: auto;
	white-space: nowrap;
}

/* Reset Tailwind's max-width img prop.
See: https://github.com/tailwindlabs/tailwindcss/issues/4211 */
.container img {
	max-width: none;
}

/* Quick fix to un-bold the inputs in header */
.container th input,
.container th select {
	font-weight: 425;
}

.actions {
	display: flex;
}

.materials {
	display: flex;
}

.overview {
	display: flex;
	align-items: center;
}

.mac {
	display: flex;
	align-items: center;
}
