.normal,
.always {
	transition: outline 0.2s ease-out;
	outline: solid 8px transparent;
	/* outline-offset should be the same size with outline-width so overflow
	won't cut it */
	outline-offset: -2px;
}

.normal::-moz-focus-inner,
.always::-moz-focus-inner {
	border: none;
}

.normal:global(.focus-visible),
.always:focus {
	outline-width: 2px;
	position: relative;
	z-index: 1;
	outline-color: var(--highlight-5);
}

/* Don't group this with ":focus" even though they have the same body. This is
because some browsers don't understand ":focus-visible" yet and the whole CSS
definition will not be used if a selector is invalid. */
.normal:focus-visible {
	outline-width: 2px;
	position: relative;
	z-index: 1;
	outline-color: var(--highlight-5);
}