@import "../theme/module.scss";

.inner::-moz-focus-inner,
.outer::-moz-focus-inner {
	border: none;
}

.inner,
.outer {
	outline: solid 8px transparent;
}

.outer {
	outline-offset: 4px;
}

.inner {
	outline-offset: -2px;
}

.inner:global(.focus-visible),
.outer:global(.focus-visible) {
	outline-width: 2px;
	position: relative;
	z-index: 1;

	@include light {
		outline-color: var(--accent-2);
	}
	@include dark {
		outline-color: var(--accent-2);
	}
}
