.sbdocs-wrapper:not(.x) {
	padding: 24px;
	background-color: transparent;
}

.sbdocs-preview:not(.x) {
	background-color: transparent;
}

.moai-toolbar {
	display: flex;
	margin-bottom: 24px;
}

.moai-toolbar > * + * {
	margin-left: 16px;
}

.docblock-argstable {
	table-layout: fixed;
}

/* Hide the "default" column */
.docblock-argstable-head:not(.x) th:nth-of-type(3) {
	display: none;
}
.docblock-argstable-body:not(.x) td:nth-of-type(3) {
	display: none;
}

/* "name" column */
.docblock-argstable-head:not(#x) th:nth-of-type(1) {
	width: 160px;
}

/* "description" column */
.docblock-argstable-head:not(#x) th:nth-of-type(2) {
	width: 100%;
}
