html {
	tab-size: 4;
}

.moai-table {
	padding: 1px;
}

.sbdocs-p {
	max-width: 640px;
}

/* Hide the "Stories" heading */
.sbdocs-h2#stories {
	display: none;
}

.sbdocs-wrapper:not(.x) {
	padding: 24px;
	background-color: var(--white);
}

.sbdocs-preview:not(.x) {
	background-color: var(--white);
	box-shadow: none;
	border: solid 2px var(--gray-1);
}

.sbdocs-code:not(.x) {
	display: inline;
}

.docblock-argstable:not(#x) {
	table-layout: fixed;
	margin-left: 0;
	margin-right: 0;
}

.docblock-argstable-body:not(#x) {
	box-shadow: none;
	border: solid 2px var(--gray-1);
}

/* "name" column */
.docblock-argstable-head:not(#x) th:nth-of-type(1) {
	width: 20%;
}

/* "description" column */
.docblock-argstable-head:not(#x) th:nth-of-type(2) {
	width: 60%;
}

/* "default" column */
.docblock-argstable-head:not(.x) th:nth-of-type(3),
.docblock-argstable-body:not(.x) td:nth-of-type(3) {
	display: none;
}

/* "controls" column */
.docblock-argstable-head:not(#x) th:nth-of-type(4) {
	width: 20%;
}

/* Category header */
.docblock-argstable:not(.x) tbody td[colspan="1"],
.docblock-argstable:not(.x) tbody td[colspan="3"] {
	background-color: var(--gray-1) !important;
}

/* Moai specific components */

.moai-primary {
	position: sticky;
	top: 0;
	z-index: 2;
}
