@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

/* Source code of a story */
.docs-story + div:last-child {
	background-color: var(--gray-0);
	border-top: solid 2px var(--gray-1);
	color: var(--gray-8);
	font-size: 15px;
	line-height: 21px;
}

.token:not(#x) {
	font-family: "Source Code Pro", monospace;
}

.token:not(#x).selector,
.token:not(#x).tag {
	color: #21252b;
}
.token:not(#x).rule,
.token:not(#x).keyword {
	color: #d73a49;
}
.token:not(#x).class-name,
.token:not(#x).type-definition,
.token:not(#x).function {
	color: #6f42c1;
}
.token:not(#x).doctype,
.token:not(#x).doctype-tag,
.token:not(#x).attr-name,
.token:not(#x).property,
.token:not(#x).number,
.token:not(#x).constant,
.token:not(#x).operator,
.token:not(#x).boolean {
	color: #005cc5;
}
.token:not(#x).attr-value,
.token:not(#x).string {
	color: #22863a;
}
.token:not(#x).punctuation,
.token:not(#x).comment {
	color: #6a737d;
}
