.shape {
	border-width: 1px;
	width: 8px;
	height: 8px;
	transform: rotate(45deg);
}

.menu[data-popper-placement^="top"] > .container {
	bottom: -5px;
	& > .shape {
		border-style: none solid solid none;
	}
}
.menu[data-popper-placement^="right"] > .container {
	left: -5px;
	& > .shape {
		border-style: none none solid solid;
	}
}
.menu[data-popper-placement^="bottom"] > .container {
	top: -5px;
	& > .shape {
		border-style: solid none none solid;
	}
}
.menu[data-popper-placement^="left"] > .container {
	right: -5px;
	& > .shape {
		border-style: solid solid none none;
	}
}
