@import "../theme/module.scss";

@mixin button-mx {
	cursor: pointer;
	transition: background-color 0.1s, box-shadow 0.1s, outline 0.2s ease-out;
	border: solid 1px transparent;

	font-weight: 450;
	&.highlight {
		font-weight: 500;
	}

	--main-shadow: 0px 1px 2px;
	--inset-shadow: inset 0px 1px 0px;

	@include light {
		background-color: var(--light-gray-1);
		box-shadow: var(--main-shadow) var(--light-gray-2),
			var(--inset-shadow) var(--light-gray-0);
		border-color: var(--light-gray-4);

		&:hover {
			background-color: var(--light-gray-0);
		}
		&:active {
			background-color: var(--light-gray-2);
			box-shadow: none;
		}

		&.highlight {
			color: var(--light-gray-0);
			background-color: var(--accent-2);
			box-shadow: var(--main-shadow) var(--light-gray-4),
				var(--inset-shadow) var(--accent-3);
			border-color: var(--accent-0);
			&:hover {
				background-color: var(--accent-3);
			}
			&:active {
				background-color: var(--accent-1);
			}
		}
	}

	@include dark {
		--main-shadow-full: var(--main-shadow) var(--dark-gray-1);

		background-color: var(--dark-gray-3);
		box-shadow: var(--main-shadow-full),
			var(--inset-shadow) var(--dark-gray-4);
		border-color: var(--dark-gray-0);

		&:hover {
			background-color: var(--dark-gray-3);
			box-shadow: var(--main-shadow-full),
				var(--inset-shadow) var(--dark-gray-4);
		}
		&:active {
			background-color: var(--dark-gray-1);
			box-shadow: none;
		}

		&.highlight {
			color: var(--dark-gray-7);
			background-color: var(--accent-2);
			box-shadow: var(--main-shadow) var(--dark-gray-1),
				var(--inset-shadow) var(--accent-3);
			&:hover {
				background-color: var(--accent-3);
			}
			&:active {
				background-color: var(--accent-1);
			}
		}
	}
}

.button {
	@include button-mx();
}
