name: Prettier and ESLint

on:
    pull_request:
        branches: [main]
jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: 18.x
            - run: yarn install
            - run: yarn lint
